.THIS .VerticalAlignContainer {
  display: flex;
}

.THIS .VerticalAlignContainer-item--bottom {
  align-self: flex-end;
}

.THIS .VerticalAlignContainer-item--top {
  align-self: flex-start;
}

.THIS .VerticalAlignContainer-item--right {
  margin-left:auto;
}

.THIS hr {
  margin: 4px 0 !important;
}

.THIS .component-header-check{
  background-color: #44a2b8 !important;
  padding: 0px !important;
  float:right;
}

.THIS .slds-text-heading--small{
	line-height: 24px;
	font-weight: normal;
}

.THIS{
  padding-top:10px;
}