<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>true</allowMembersToFlag>
    <branding>
        <loginFooterText>Minnesota Council on Foundations</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/Logo_Reduced_for_SF_jpg.jpg</loginLogo>
        <pageHeader>SharedDocuments/MCF_logo_wname_color_resize_jpg.jpg</pageHeader>
        <primaryColor>#FCAF17</primaryColor>
        <primaryComplementColor>#222222</primaryComplementColor>
        <quaternaryColor>#4A8ECC</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#4A8ECC</secondaryColor>
        <tertiaryColor>#FFFFFF</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#FFFFFF</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>info@mcf.org</emailSenderAddress>
    <emailSenderName>Minnesota Council on Foundations</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>true</enableReputation>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <navigationLinkSet>
        <navigationMenuItem>
            <defaultListViewId>My_ChatterGroups</defaultListViewId>
            <label>Groups</label>
            <position>1</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>CollaborationGroup</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Topics</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Topics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Topics</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Topics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Topics</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Topics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>MCF_Communities_Manager</permissionSet>
        <profile>Admin</profile>
        <profile>MCF Standard User</profile>
        <profile>MCF System Manager</profile>
        <profile>MCF%27s Hub</profile>
        <profile>MCF System Administrator</profile>
        <profile>MCF%27s Hub - Board Member</profile>
    </networkMemberGroups>
    <picassoSite>MCF_Collaborative_Philanthropy_Hub_C</picassoSite>
    <reputationLevels>
        <level>
            <label>Bronze</label>
            <lowerThreshold>0.0</lowerThreshold>
        </level>
        <level>
            <label>Silver</label>
            <lowerThreshold>11.0</lowerThreshold>
        </level>
        <level>
            <label>Gold</label>
            <lowerThreshold>21.0</lowerThreshold>
        </level>
    </reputationLevels>
    <reputationPointsRules>
        <pointsRule>
            <eventType>FeedItemReceiveAComment</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemPostQuestion</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAMention</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAnAnswer</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemLikeSomething</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAComment</eventType>
            <points>3</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemSomeoneSharesYourPost</eventType>
            <points>3</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveALike</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemShareAPost</eventType>
            <points>3</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemYourAnswerMarkedBest</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemAnswerAQuestion</eventType>
            <points>3</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorsedForKnowledgeOnATopic</eventType>
            <points>20</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMentionSomeone</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorseSomeoneForKnowledgeOnATopic</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMarkAnswerAsBest</eventType>
            <points>5</points>
        </pointsRule>
    </reputationPointsRules>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>MCF_Collaborative_Philanthropy_Hub</site>
    <status>Live</status>
    <tabs>
        <defaultTab>CollaborationGroup</defaultTab>
        <standardTab>CollaborationGroup</standardTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
